/*     all html docs     */
* /* everything - default */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
    scroll-behavior: smooth;
}
html{
    height: -webkit-fill-available;   /* to fit screens */
}
body
{
    background: rgb(0, 0, 50);
    color: #ededed;
    height: -webkit-fill-available;
}
section
{
    /* background for each section */
   /* background: url(Img/stripedblueBackground.jpeg) no-repeat; 
    background-size: cover;
    height: 100vh; /* default web page size for each section. */
    background-position: center; 
    max-width: 100%;   
    overflow:scroll; 
    height:fit-content;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    background-color: rgb(0, 0, 30);
   /* background: url(Img/navStripedblueBackground.jpeg) no-repeat;          /* matches with section background */
    background-size: cover;
    opacity: .9;            /* like 10% transparent. Can see slightly text slide behind header/navbar*/
}
.logo {
    position: relative;
    font-size: 30px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    /* Below allows the text to move together on load-in */
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
         /* see 'keyframes slideRight' css block */ 
    }
    .logo span{
        color: cyan;   /* If we use span with logo style, turns the word blue */
}

.navbar{
    z-index: 2;
}
.navbar a {                 /* top navigation bar */
    display: inline-block; 
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px;
    transition: .3s;
    /* to add animation to top navbar */
    opacity: 0;
    animation: slideBottom .5s ease forwards; 
    animation-delay: calc(.05s*var(--i));  /* delay by variable --i for navbar, --i assigned with style= in html */
    }
    .navbar a:hover{
    color: #0ef;
}

.footer {       
    font-size: small;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}

img{
    max-height: 100%;
    max-width: 100%;
}
/*--------------------------------------------------------------*/
/*          Animations - move text up/down, left/right          */
@keyframes slideRight {
    0% {
    transform: translateX(-100px); /* moves right (or left) with X */ 
    opacity: 0;
    }
    100% {
    transform: translateX(0px);
    opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
    transform: translateX(100px); 
    opacity: 0;
    }
    100% {
    transform: translateX(0px);
    opacity: 1;
    }
}
@keyframes slideTop {
    0% {
    transform: translateY(100px); /* moves up (or down) with Y */
    opacity: 0;
    }
    100% {
    transform: translateY(0px);
    opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
    transform: translateY(-100px);
    opacity: 0;
    }
    100%{
    transform: translateY(0px);
    opacity: 1;
    }
}

/* -------------------------------------------------- */
/*                  Stylized Button                   */
/*         For Resume/CV and More About Me Bsttonz    */
.btn-box{
    cursor: pointer;
    border: none;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    display: inline-block;
    padding: 12px 28px;
    color: black;
    background: cyan;
    border-radius: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    z-index: 2;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.1s;
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan, 0 0 50px cyan;
              
}
/* -------------------------------------------------- */
/*                  For Home Page                     */ 
.home{
    position: relative;
    width: 100%;
    justify-content: space-between; 
    height: 100vh;
   
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h2 {
    font-size: 32px;
    font-weight: 700;

    opacity: 0;
    animation: slideBottom 1s ease forwards; 
    animation-delay: .05s;
}
    .home-content h2 span { /* For the color/design of the swapping "text" tag */
        color: cyan;/* #0ef; */
    } 

.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    margin: -3px 0;

    animation: slideBottom 1s ease forwards; /* animation + delay for Name and cycling words */
    animation-delay: .05s;
}
.home-content p{
    font-size: 21px;
    opacity: 0; /* so that paragraph does not appear until animation starts */
    animation: slideRight 1s ease forwards;  /* animation + delay for paragraph */
    animation-delay: .35s;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;

    opacity: 0; /* so that logo does not appear until animation starts */
    animation: slideTop .85s ease forwards;  /* animation + delay for logo */
    animation-delay: calc(.15s*var(--i));   /* delay time by variable --i, assigned with style= in html*/

    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
    .home-sci a:hover {
        background: #0ef;
        color: #081b29;
        box-shadow: 0 0 20px #0ef;
}



/*                 About Section                      */
.home_about{  
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;  
    
    padding: 70px 8% 0; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-content {
max-width: 600px; 
}
.about-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    
    animation: slideBottom 1s ease forwards; /* animation + delay for Name and cycling words */
    animation-delay: .1s;
        }
        .about-content h1 span{
            color: cyan;        /* makes the header 'ME' in cyan */
    }
.about-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards; 
    animation-delay: .05s;
    }
    .about-content h3 span { /* For the color/design of the swapping "text" tag */
        color: cyan;/* #0ef; */
} 
.about-content h4{
    font-size: 25px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
}
.about-content p{
    padding-top: 3px;
    padding-bottom: 2px;

    font-size: 20px;
    opacity: 0; /* so that paragraph does not appear until animation starts */
    animation: slideLeft 1s ease forwards;  /* animation + delay for paragraph */
    animation-delay: .15s;
}
.about-content li{
    font-size: 20px;
    opacity: 0; /* so that paragraph does not appear until animation starts */
    animation: slideLeft 1s ease forwards;  /* animation + delay for paragraph */
    animation-delay: .15s;

    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none; /* I prefer writing bullet point in html text since then the bullet is closer */

    display: inline-block;
    position: relative;
}



/*              Portfolio Section                   */
#home_portfolio{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4; /* for size of each portfolio container */ 
}

.containor{ /* padding around all sides of the container that contains  everything for portfolio section */
    padding: 50px; 
    display: grid;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-top: 15px;
    padding-bottom: 15px;   
    }
    .sub-title span{
        color: cyan;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.portfolio-list div{
    background-color: rgb(0, 0, 67);
    background-size: cover; /* used for hover images to be fitted better*/
    padding: 40px;
    font-size: 17px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s; /* gently moves tiles on hover */
    box-shadow: 1px 1px 5px #012290f7,
                1px 1px 30px #0053b8f7;
    }
    .portfolio-list div:hover{ /* move tile up 10px when hovering */
        transform: translateY(-10px);
    }

    .portfolio-list div:nth-child(1):hover{
        /* background-color: rgb(0, 0, 97);  */
        background: url(Img/SoftwareWozPhoto.jpeg) center center/contain no-repeat; 
        background-size: cover;
        transition: background 1.2s;
    }
    .portfolio-list div:nth-child(2):hover{
        /* background-color: rgb(0, 0, 97);  */
        background: url(Img/honorsPhoto.jpeg) center center/cover no-repeat; 
        background-size: cover;
        transition: background 1.25s;
    }
    .portfolio-list div:nth-child(3):hover{
        background-color: rgb(0, 0, 97);  
        background: url(Img/BusinessFinPhoto.jpeg) center center/cover no-repeat; 
        background-size: cover;
        transition: background 1.1s;
}
.portfolio-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    }
    .portfolio-list div:hover i{
        opacity: 0;
        transition: opacity 1s;
}
.portfolio-list div h2{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
.portfolio-list div p{
    font-size: 19px;
    }
    .portfolio-list div:hover p {
        opacity: 0;
        transition: opacity 1s;
}
.portfolio-list div a{ /* see more text */
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.seeMore{ /* see more buttons */
    display: inline-block;
    padding: 12px;
    background: cyan;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    z-index: 2;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan;
    }
    .seeMore:hover {
        box-shadow:         0 0 50px cyan,
                            0 0 50px cyan, 0 0 50px cyan;
}     



/*              Contact Section                     */
.home_contact{
    position: relative;
    width: 100%;
    justify-content: space-between; 
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 70px 8% 0; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
    .contact-text h2 span{
        color: cyan;
    }
.contact-text h4{
    margin: 30px 0;
    color: rgb(228,228,228);
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-top: 20px;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2rem;
    text-align: center;
}

.contact-list{
    margin-bottom: 3rem;
    text-align: left;
    font-size: 18px;
}
.contact-list li{ 
    display: inline-block; /* to remove bullet li default */
    position: relative;
}
.contact-list i{
    display: inline-block;
    color: cyan;
    font-size: 20px;
    font-weight: 600;
    animation: slideRight .50s ease forwards;
    padding-left: 25px;
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    }
    .contact-icons i:hover{
        background: cyan;
        color: black;
        box-shadow: 0 0 20px cyan;
}

.contact-form{
    position: relative;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #cae3ee;
    color: rgb(77, 69, 69);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: cyan;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.1s;
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan;
    }
    .contact-form form .send:hover{
        box-shadow: 0 0 5px cyan,
                    0 0 25px cyan,
                    0 0 50px cyan,
                    0 0 200px cyan;
}
/* -------------------------------------------------- */

/*     For Resume Page (click "View Resume & CV")     */ 
.resumeCV{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;  
    
    padding: 70px 8% 0; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    
}

.resumeCV-content{
    max-width: 600px; 
    text-align: center;
}
.resumeCV-content h1 {
    text-align: left;
    font-size: 45px;
    font-weight: 700;
    margin: -3px 0;

    animation: slideBottom 1s ease forwards; 
    }
    .resumeCV-content h1 span{
        color: cyan;   
}
.resumeCV-content a {
    color: cyan;
    padding-top: 5px;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    text-decoration: underline;  /* add underline like href */
    animation: slideTop 1s ease forwards; 
    }
    .resumeCV-content a:hover{
        color: rgb(194, 246, 246);
}

.resumeCVExtend{
    height: 25vh; /* extend page slightly so that whole pdf can be displayed */
}
/* -------------------------------------------------- */
/*         For About Page (click "More About Me")     */ 

.aboutMeTop{    /* for the personal statement top section */
    padding: 30px 225px;
    text-align: center;
    height: 62vh; /* added 2vh to prevent scrolling effect */
}
.aboutMeTop h1{
    padding-top: 55px;
    padding-bottom: 20px;
    font-size: 60px;
    animation: slideBottom 1s ease forwards;
}
    .aboutMeTop h1 span{
        color: cyan;
    }
.aboutMeTop p{
    font-size: 25px;
    animation: slideBottom 1s ease forwards;
}

.aboutMePg{  /* bio, core, background section */
    position: relative;
    width: 100%;
    height: 110vh;
    justify-content: space-between;  
    display: flex;   /* to get software background section on right side */
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    gap: 1.5rem;
}
.aboutMePg-content{
    max-width: 600px;
    margin: 0 auto; /* Center the content horizontally */ 
    text-align: center;
    animation: slideTop 1s ease forwards;
}
.aboutMePg-content h1 {
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: -3px 0;
    }
    .aboutMePg-content h1 span{
        color: cyan;   
}
.aboutMePg-content p {
    font-size: 25px;
    text-align: center;
    }
    .aboutMePg-content p span{
        font-size: 21px;
}
/* -------------------------------------------------- */

/* Additional CSS for responsiveness and adjusting layout if user is on smaller (phone) screen */
/* add different settings for different parts */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .navbar a {
        margin: 20px 0; /* 10*/
      }

    .aboutMePg {
        flex-direction: column; /* Stack the sections on small screens */
        text-align: center;
    }
    .aboutMePg-content {
        width: 100%; /* Make each content section take full width on small screens */
    }
}
/* ---------------------------------------------*/

/* linkedin images w/ parameters */

.imgRightHome{   /* image on right side of page */
    animation: slideLeft .85s ease forwards;
    max-width: 630px; 
    text-align: center;
    height: auto;
    width: auto;
  }
  
  .home_about-img{ 
      padding-bottom: 20%; 
      max-width: 630px;
      height: auto;
      width: 100%;
      border-radius: 8px;
      text-align: center;
      animation: slideRight .85s ease forwards;
  }
/* ---------------------------------------------*/




/*       dropdown function for old Resume dropdown - maybe use for another project           
.dropdown a {
    font-size: 18px; /* adjusts size within list 
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px; /* to add space between dropdown lists 
    
}
ul {
    list-style: none;
    text-align: left;
}
li {
    display: inline-block;
    position: relative;
}
.dropdown {
    display: none; /* makes list not appear by defult; only by hover 
}
li:hover .dropdown {
  display: block; 
  position: absolute;
}
*/
